/*
  Project variables
  =================
*/
/*
  Flex Sass grid generator variables
  ==================================

  [flex-sass-grid-generator](https://github.com/Enkil/flex-sass-grid-generator)

*/
/*
  Sass MQ variables
  =================

  [sass-mq](https://github.com/sass-mq/sass-mq)
*/
/*
  Colors
  ======
*/
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
  Breakpoints variables Sass map
  ==============================

  Provided variables for media-query breakpoints array
*/
/*
  Grid containers
  ===============

  Define the maximum width of `.container` for different screen sizes.
*/
._xs-hidden-up {
  display: none !important; }

@media (max-width: 539px) {
  ._xs-hidden-down {
    display: none !important; } }

@media (min-width: 540px) {
  ._sm-hidden-up {
    display: none !important; } }

@media (max-width: 799px) {
  ._sm-hidden-down {
    display: none !important; } }

@media (min-width: 800px) {
  ._md-hidden-up {
    display: none !important; } }

@media (max-width: 1023px) {
  ._md-hidden-down {
    display: none !important; } }

@media (min-width: 1024px) {
  ._lg-hidden-up {
    display: none !important; } }

@media (max-width: 1279px) {
  ._lg-hidden-down {
    display: none !important; } }

@media (min-width: 1280px) {
  ._xl-hidden-up {
    display: none !important; } }

@media (max-width: 1899px) {
  ._xl-hidden-down {
    display: none !important; } }

@media (min-width: 1900px) {
  ._xxl-hidden-up {
    display: none !important; } }

._xxl-hidden-down {
  display: none !important; }

html {
  font-size: 16px; }

.container {
  max-width: 100%;
  width: 100%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 0.625rem;
  padding-right: 0.625rem; }
  @media (min-width: 540px) {
    .container {
      max-width: 480px; } }
  @media (min-width: 800px) {
    .container {
      max-width: 768px; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 992px; } }
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px; } }
  @media (min-width: 1900px) {
    .container {
      max-width: 1890px; } }
  .container.-fluid {
    max-width: 100%;
    width: 100%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 0.625rem;
    padding-right: 0.625rem; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem; }
  .row.-xs-top {
    align-items: flex-start; }
  .row.-xs-center {
    align-items: center; }
  .row.-xs-bottom {
    align-items: flex-end; }
  .row.-xs-stretch {
    align-items: stretch; }
  .row.-xs-baseline {
    align-items: baseline; }
  .row.-xs-nowrap {
    flex-wrap: nowrap; }
  @media (min-width: 540px) {
    .row.-sm-top {
      align-items: flex-start; }
    .row.-sm-center {
      align-items: center; }
    .row.-sm-bottom {
      align-items: flex-end; }
    .row.-sm-stretch {
      align-items: stretch; }
    .row.-sm-baseline {
      align-items: baseline; }
    .row.-sm-nowrap {
      flex-wrap: nowrap; } }
  @media (min-width: 800px) {
    .row.-md-top {
      align-items: flex-start; }
    .row.-md-center {
      align-items: center; }
    .row.-md-bottom {
      align-items: flex-end; }
    .row.-md-stretch {
      align-items: stretch; }
    .row.-md-baseline {
      align-items: baseline; }
    .row.-md-nowrap {
      flex-wrap: nowrap; } }
  @media (min-width: 1024px) {
    .row.-lg-top {
      align-items: flex-start; }
    .row.-lg-center {
      align-items: center; }
    .row.-lg-bottom {
      align-items: flex-end; }
    .row.-lg-stretch {
      align-items: stretch; }
    .row.-lg-baseline {
      align-items: baseline; }
    .row.-lg-nowrap {
      flex-wrap: nowrap; } }
  @media (min-width: 1280px) {
    .row.-xl-top {
      align-items: flex-start; }
    .row.-xl-center {
      align-items: center; }
    .row.-xl-bottom {
      align-items: flex-end; }
    .row.-xl-stretch {
      align-items: stretch; }
    .row.-xl-baseline {
      align-items: baseline; }
    .row.-xl-nowrap {
      flex-wrap: nowrap; } }
  @media (min-width: 1900px) {
    .row.-xxl-top {
      align-items: flex-start; }
    .row.-xxl-center {
      align-items: center; }
    .row.-xxl-bottom {
      align-items: flex-end; }
    .row.-xxl-stretch {
      align-items: stretch; }
    .row.-xxl-baseline {
      align-items: baseline; }
    .row.-xxl-nowrap {
      flex-wrap: nowrap; } }

.column {
  position: relative;
  min-height: 1px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  box-sizing: border-box; }
  .column.-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    box-sizing: border-box; }
  .column.-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    box-sizing: border-box; }
  .column.-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
    box-sizing: border-box; }
  .column.-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    box-sizing: border-box; }
  .column.-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    box-sizing: border-box; }
  .column.-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box; }
  .column.-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    box-sizing: border-box; }
  .column.-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    box-sizing: border-box; }
  .column.-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
    box-sizing: border-box; }
  .column.-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    box-sizing: border-box; }
  .column.-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    box-sizing: border-box; }
  .column.-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box; }
  .column.-xs-pull-0 {
    right: auto; }
  .column.-xs-pull-1 {
    right: 8.33333%; }
  .column.-xs-pull-2 {
    right: 16.66667%; }
  .column.-xs-pull-3 {
    right: 25%; }
  .column.-xs-pull-4 {
    right: 33.33333%; }
  .column.-xs-pull-5 {
    right: 41.66667%; }
  .column.-xs-pull-6 {
    right: 50%; }
  .column.-xs-pull-7 {
    right: 58.33333%; }
  .column.-xs-pull-8 {
    right: 66.66667%; }
  .column.-xs-pull-9 {
    right: 75%; }
  .column.-xs-pull-10 {
    right: 83.33333%; }
  .column.-xs-pull-11 {
    right: 91.66667%; }
  .column.-xs-pull-12 {
    right: 100%; }
  .column.-xs-push-0 {
    left: auto; }
  .column.-xs-push-1 {
    left: 8.33333%; }
  .column.-xs-push-2 {
    left: 16.66667%; }
  .column.-xs-push-3 {
    left: 25%; }
  .column.-xs-push-4 {
    left: 33.33333%; }
  .column.-xs-push-5 {
    left: 41.66667%; }
  .column.-xs-push-6 {
    left: 50%; }
  .column.-xs-push-7 {
    left: 58.33333%; }
  .column.-xs-push-8 {
    left: 66.66667%; }
  .column.-xs-push-9 {
    left: 75%; }
  .column.-xs-push-10 {
    left: 83.33333%; }
  .column.-xs-push-11 {
    left: 91.66667%; }
  .column.-xs-push-12 {
    left: 100%; }
  .column.-xs-offset-1 {
    margin-left: 8.33333%; }
  .column.-xs-offset-2 {
    margin-left: 16.66667%; }
  .column.-xs-offset-3 {
    margin-left: 25%; }
  .column.-xs-offset-4 {
    margin-left: 33.33333%; }
  .column.-xs-offset-5 {
    margin-left: 41.66667%; }
  .column.-xs-offset-6 {
    margin-left: 50%; }
  .column.-xs-offset-7 {
    margin-left: 58.33333%; }
  .column.-xs-offset-8 {
    margin-left: 66.66667%; }
  .column.-xs-offset-9 {
    margin-left: 75%; }
  .column.-xs-offset-10 {
    margin-left: 83.33333%; }
  .column.-xs-offset-11 {
    margin-left: 91.66667%; }
  @media (min-width: 540px) {
    .column.-sm-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
      box-sizing: border-box; }
    .column.-sm-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
      box-sizing: border-box; }
    .column.-sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
      box-sizing: border-box; }
    .column.-sm-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      box-sizing: border-box; }
    .column.-sm-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
      box-sizing: border-box; }
    .column.-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
      box-sizing: border-box; }
    .column.-sm-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
      box-sizing: border-box; }
    .column.-sm-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      box-sizing: border-box; }
    .column.-sm-9 {
      flex: 0 0 75%;
      max-width: 75%;
      box-sizing: border-box; }
    .column.-sm-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
      box-sizing: border-box; }
    .column.-sm-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
      box-sizing: border-box; }
    .column.-sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
      box-sizing: border-box; }
    .column.-sm-pull-0 {
      right: auto; }
    .column.-sm-pull-1 {
      right: 8.33333%; }
    .column.-sm-pull-2 {
      right: 16.66667%; }
    .column.-sm-pull-3 {
      right: 25%; }
    .column.-sm-pull-4 {
      right: 33.33333%; }
    .column.-sm-pull-5 {
      right: 41.66667%; }
    .column.-sm-pull-6 {
      right: 50%; }
    .column.-sm-pull-7 {
      right: 58.33333%; }
    .column.-sm-pull-8 {
      right: 66.66667%; }
    .column.-sm-pull-9 {
      right: 75%; }
    .column.-sm-pull-10 {
      right: 83.33333%; }
    .column.-sm-pull-11 {
      right: 91.66667%; }
    .column.-sm-pull-12 {
      right: 100%; }
    .column.-sm-push-0 {
      left: auto; }
    .column.-sm-push-1 {
      left: 8.33333%; }
    .column.-sm-push-2 {
      left: 16.66667%; }
    .column.-sm-push-3 {
      left: 25%; }
    .column.-sm-push-4 {
      left: 33.33333%; }
    .column.-sm-push-5 {
      left: 41.66667%; }
    .column.-sm-push-6 {
      left: 50%; }
    .column.-sm-push-7 {
      left: 58.33333%; }
    .column.-sm-push-8 {
      left: 66.66667%; }
    .column.-sm-push-9 {
      left: 75%; }
    .column.-sm-push-10 {
      left: 83.33333%; }
    .column.-sm-push-11 {
      left: 91.66667%; }
    .column.-sm-push-12 {
      left: 100%; }
    .column.-sm-offset-0 {
      margin-left: 0%; }
    .column.-sm-offset-1 {
      margin-left: 8.33333%; }
    .column.-sm-offset-2 {
      margin-left: 16.66667%; }
    .column.-sm-offset-3 {
      margin-left: 25%; }
    .column.-sm-offset-4 {
      margin-left: 33.33333%; }
    .column.-sm-offset-5 {
      margin-left: 41.66667%; }
    .column.-sm-offset-6 {
      margin-left: 50%; }
    .column.-sm-offset-7 {
      margin-left: 58.33333%; }
    .column.-sm-offset-8 {
      margin-left: 66.66667%; }
    .column.-sm-offset-9 {
      margin-left: 75%; }
    .column.-sm-offset-10 {
      margin-left: 83.33333%; }
    .column.-sm-offset-11 {
      margin-left: 91.66667%; } }
  @media (min-width: 800px) {
    .column.-md-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
      box-sizing: border-box; }
    .column.-md-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
      box-sizing: border-box; }
    .column.-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
      box-sizing: border-box; }
    .column.-md-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      box-sizing: border-box; }
    .column.-md-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
      box-sizing: border-box; }
    .column.-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
      box-sizing: border-box; }
    .column.-md-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
      box-sizing: border-box; }
    .column.-md-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      box-sizing: border-box; }
    .column.-md-9 {
      flex: 0 0 75%;
      max-width: 75%;
      box-sizing: border-box; }
    .column.-md-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
      box-sizing: border-box; }
    .column.-md-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
      box-sizing: border-box; }
    .column.-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
      box-sizing: border-box; }
    .column.-md-pull-0 {
      right: auto; }
    .column.-md-pull-1 {
      right: 8.33333%; }
    .column.-md-pull-2 {
      right: 16.66667%; }
    .column.-md-pull-3 {
      right: 25%; }
    .column.-md-pull-4 {
      right: 33.33333%; }
    .column.-md-pull-5 {
      right: 41.66667%; }
    .column.-md-pull-6 {
      right: 50%; }
    .column.-md-pull-7 {
      right: 58.33333%; }
    .column.-md-pull-8 {
      right: 66.66667%; }
    .column.-md-pull-9 {
      right: 75%; }
    .column.-md-pull-10 {
      right: 83.33333%; }
    .column.-md-pull-11 {
      right: 91.66667%; }
    .column.-md-pull-12 {
      right: 100%; }
    .column.-md-push-0 {
      left: auto; }
    .column.-md-push-1 {
      left: 8.33333%; }
    .column.-md-push-2 {
      left: 16.66667%; }
    .column.-md-push-3 {
      left: 25%; }
    .column.-md-push-4 {
      left: 33.33333%; }
    .column.-md-push-5 {
      left: 41.66667%; }
    .column.-md-push-6 {
      left: 50%; }
    .column.-md-push-7 {
      left: 58.33333%; }
    .column.-md-push-8 {
      left: 66.66667%; }
    .column.-md-push-9 {
      left: 75%; }
    .column.-md-push-10 {
      left: 83.33333%; }
    .column.-md-push-11 {
      left: 91.66667%; }
    .column.-md-push-12 {
      left: 100%; }
    .column.-md-offset-0 {
      margin-left: 0%; }
    .column.-md-offset-1 {
      margin-left: 8.33333%; }
    .column.-md-offset-2 {
      margin-left: 16.66667%; }
    .column.-md-offset-3 {
      margin-left: 25%; }
    .column.-md-offset-4 {
      margin-left: 33.33333%; }
    .column.-md-offset-5 {
      margin-left: 41.66667%; }
    .column.-md-offset-6 {
      margin-left: 50%; }
    .column.-md-offset-7 {
      margin-left: 58.33333%; }
    .column.-md-offset-8 {
      margin-left: 66.66667%; }
    .column.-md-offset-9 {
      margin-left: 75%; }
    .column.-md-offset-10 {
      margin-left: 83.33333%; }
    .column.-md-offset-11 {
      margin-left: 91.66667%; } }
  @media (min-width: 1024px) {
    .column.-lg-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
      box-sizing: border-box; }
    .column.-lg-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
      box-sizing: border-box; }
    .column.-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
      box-sizing: border-box; }
    .column.-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      box-sizing: border-box; }
    .column.-lg-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
      box-sizing: border-box; }
    .column.-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
      box-sizing: border-box; }
    .column.-lg-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
      box-sizing: border-box; }
    .column.-lg-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      box-sizing: border-box; }
    .column.-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
      box-sizing: border-box; }
    .column.-lg-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
      box-sizing: border-box; }
    .column.-lg-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
      box-sizing: border-box; }
    .column.-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
      box-sizing: border-box; }
    .column.-lg-pull-0 {
      right: auto; }
    .column.-lg-pull-1 {
      right: 8.33333%; }
    .column.-lg-pull-2 {
      right: 16.66667%; }
    .column.-lg-pull-3 {
      right: 25%; }
    .column.-lg-pull-4 {
      right: 33.33333%; }
    .column.-lg-pull-5 {
      right: 41.66667%; }
    .column.-lg-pull-6 {
      right: 50%; }
    .column.-lg-pull-7 {
      right: 58.33333%; }
    .column.-lg-pull-8 {
      right: 66.66667%; }
    .column.-lg-pull-9 {
      right: 75%; }
    .column.-lg-pull-10 {
      right: 83.33333%; }
    .column.-lg-pull-11 {
      right: 91.66667%; }
    .column.-lg-pull-12 {
      right: 100%; }
    .column.-lg-push-0 {
      left: auto; }
    .column.-lg-push-1 {
      left: 8.33333%; }
    .column.-lg-push-2 {
      left: 16.66667%; }
    .column.-lg-push-3 {
      left: 25%; }
    .column.-lg-push-4 {
      left: 33.33333%; }
    .column.-lg-push-5 {
      left: 41.66667%; }
    .column.-lg-push-6 {
      left: 50%; }
    .column.-lg-push-7 {
      left: 58.33333%; }
    .column.-lg-push-8 {
      left: 66.66667%; }
    .column.-lg-push-9 {
      left: 75%; }
    .column.-lg-push-10 {
      left: 83.33333%; }
    .column.-lg-push-11 {
      left: 91.66667%; }
    .column.-lg-push-12 {
      left: 100%; }
    .column.-lg-offset-0 {
      margin-left: 0%; }
    .column.-lg-offset-1 {
      margin-left: 8.33333%; }
    .column.-lg-offset-2 {
      margin-left: 16.66667%; }
    .column.-lg-offset-3 {
      margin-left: 25%; }
    .column.-lg-offset-4 {
      margin-left: 33.33333%; }
    .column.-lg-offset-5 {
      margin-left: 41.66667%; }
    .column.-lg-offset-6 {
      margin-left: 50%; }
    .column.-lg-offset-7 {
      margin-left: 58.33333%; }
    .column.-lg-offset-8 {
      margin-left: 66.66667%; }
    .column.-lg-offset-9 {
      margin-left: 75%; }
    .column.-lg-offset-10 {
      margin-left: 83.33333%; }
    .column.-lg-offset-11 {
      margin-left: 91.66667%; } }
  @media (min-width: 1280px) {
    .column.-xl-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
      box-sizing: border-box; }
    .column.-xl-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
      box-sizing: border-box; }
    .column.-xl-3 {
      flex: 0 0 25%;
      max-width: 25%;
      box-sizing: border-box; }
    .column.-xl-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      box-sizing: border-box; }
    .column.-xl-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
      box-sizing: border-box; }
    .column.-xl-6 {
      flex: 0 0 50%;
      max-width: 50%;
      box-sizing: border-box; }
    .column.-xl-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
      box-sizing: border-box; }
    .column.-xl-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      box-sizing: border-box; }
    .column.-xl-9 {
      flex: 0 0 75%;
      max-width: 75%;
      box-sizing: border-box; }
    .column.-xl-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
      box-sizing: border-box; }
    .column.-xl-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
      box-sizing: border-box; }
    .column.-xl-12 {
      flex: 0 0 100%;
      max-width: 100%;
      box-sizing: border-box; }
    .column.-xl-pull-0 {
      right: auto; }
    .column.-xl-pull-1 {
      right: 8.33333%; }
    .column.-xl-pull-2 {
      right: 16.66667%; }
    .column.-xl-pull-3 {
      right: 25%; }
    .column.-xl-pull-4 {
      right: 33.33333%; }
    .column.-xl-pull-5 {
      right: 41.66667%; }
    .column.-xl-pull-6 {
      right: 50%; }
    .column.-xl-pull-7 {
      right: 58.33333%; }
    .column.-xl-pull-8 {
      right: 66.66667%; }
    .column.-xl-pull-9 {
      right: 75%; }
    .column.-xl-pull-10 {
      right: 83.33333%; }
    .column.-xl-pull-11 {
      right: 91.66667%; }
    .column.-xl-pull-12 {
      right: 100%; }
    .column.-xl-push-0 {
      left: auto; }
    .column.-xl-push-1 {
      left: 8.33333%; }
    .column.-xl-push-2 {
      left: 16.66667%; }
    .column.-xl-push-3 {
      left: 25%; }
    .column.-xl-push-4 {
      left: 33.33333%; }
    .column.-xl-push-5 {
      left: 41.66667%; }
    .column.-xl-push-6 {
      left: 50%; }
    .column.-xl-push-7 {
      left: 58.33333%; }
    .column.-xl-push-8 {
      left: 66.66667%; }
    .column.-xl-push-9 {
      left: 75%; }
    .column.-xl-push-10 {
      left: 83.33333%; }
    .column.-xl-push-11 {
      left: 91.66667%; }
    .column.-xl-push-12 {
      left: 100%; }
    .column.-xl-offset-0 {
      margin-left: 0%; }
    .column.-xl-offset-1 {
      margin-left: 8.33333%; }
    .column.-xl-offset-2 {
      margin-left: 16.66667%; }
    .column.-xl-offset-3 {
      margin-left: 25%; }
    .column.-xl-offset-4 {
      margin-left: 33.33333%; }
    .column.-xl-offset-5 {
      margin-left: 41.66667%; }
    .column.-xl-offset-6 {
      margin-left: 50%; }
    .column.-xl-offset-7 {
      margin-left: 58.33333%; }
    .column.-xl-offset-8 {
      margin-left: 66.66667%; }
    .column.-xl-offset-9 {
      margin-left: 75%; }
    .column.-xl-offset-10 {
      margin-left: 83.33333%; }
    .column.-xl-offset-11 {
      margin-left: 91.66667%; } }
  @media (min-width: 1900px) {
    .column.-xxl-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
      box-sizing: border-box; }
    .column.-xxl-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
      box-sizing: border-box; }
    .column.-xxl-3 {
      flex: 0 0 25%;
      max-width: 25%;
      box-sizing: border-box; }
    .column.-xxl-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      box-sizing: border-box; }
    .column.-xxl-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
      box-sizing: border-box; }
    .column.-xxl-6 {
      flex: 0 0 50%;
      max-width: 50%;
      box-sizing: border-box; }
    .column.-xxl-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
      box-sizing: border-box; }
    .column.-xxl-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      box-sizing: border-box; }
    .column.-xxl-9 {
      flex: 0 0 75%;
      max-width: 75%;
      box-sizing: border-box; }
    .column.-xxl-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
      box-sizing: border-box; }
    .column.-xxl-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
      box-sizing: border-box; }
    .column.-xxl-12 {
      flex: 0 0 100%;
      max-width: 100%;
      box-sizing: border-box; }
    .column.-xxl-pull-0 {
      right: auto; }
    .column.-xxl-pull-1 {
      right: 8.33333%; }
    .column.-xxl-pull-2 {
      right: 16.66667%; }
    .column.-xxl-pull-3 {
      right: 25%; }
    .column.-xxl-pull-4 {
      right: 33.33333%; }
    .column.-xxl-pull-5 {
      right: 41.66667%; }
    .column.-xxl-pull-6 {
      right: 50%; }
    .column.-xxl-pull-7 {
      right: 58.33333%; }
    .column.-xxl-pull-8 {
      right: 66.66667%; }
    .column.-xxl-pull-9 {
      right: 75%; }
    .column.-xxl-pull-10 {
      right: 83.33333%; }
    .column.-xxl-pull-11 {
      right: 91.66667%; }
    .column.-xxl-pull-12 {
      right: 100%; }
    .column.-xxl-push-0 {
      left: auto; }
    .column.-xxl-push-1 {
      left: 8.33333%; }
    .column.-xxl-push-2 {
      left: 16.66667%; }
    .column.-xxl-push-3 {
      left: 25%; }
    .column.-xxl-push-4 {
      left: 33.33333%; }
    .column.-xxl-push-5 {
      left: 41.66667%; }
    .column.-xxl-push-6 {
      left: 50%; }
    .column.-xxl-push-7 {
      left: 58.33333%; }
    .column.-xxl-push-8 {
      left: 66.66667%; }
    .column.-xxl-push-9 {
      left: 75%; }
    .column.-xxl-push-10 {
      left: 83.33333%; }
    .column.-xxl-push-11 {
      left: 91.66667%; }
    .column.-xxl-push-12 {
      left: 100%; }
    .column.-xxl-offset-0 {
      margin-left: 0%; }
    .column.-xxl-offset-1 {
      margin-left: 8.33333%; }
    .column.-xxl-offset-2 {
      margin-left: 16.66667%; }
    .column.-xxl-offset-3 {
      margin-left: 25%; }
    .column.-xxl-offset-4 {
      margin-left: 33.33333%; }
    .column.-xxl-offset-5 {
      margin-left: 41.66667%; }
    .column.-xxl-offset-6 {
      margin-left: 50%; }
    .column.-xxl-offset-7 {
      margin-left: 58.33333%; }
    .column.-xxl-offset-8 {
      margin-left: 66.66667%; }
    .column.-xxl-offset-9 {
      margin-left: 75%; }
    .column.-xxl-offset-10 {
      margin-left: 83.33333%; }
    .column.-xxl-offset-11 {
      margin-left: 91.66667%; } }
  .column.-xs-first {
    order: -1; }
  .column.-xs-last {
    order: 1; }
  @media (min-width: 540px) {
    .column.-sm-first {
      order: -1; }
    .column.-sm-last {
      order: 1; } }
  @media (min-width: 800px) {
    .column.-md-first {
      order: -1; }
    .column.-md-last {
      order: 1; } }
  @media (min-width: 1024px) {
    .column.-lg-first {
      order: -1; }
    .column.-lg-last {
      order: 1; } }
  @media (min-width: 1280px) {
    .column.-xl-first {
      order: -1; }
    .column.-xl-last {
      order: 1; } }
  @media (min-width: 1900px) {
    .column.-xxl-first {
      order: -1; }
    .column.-xxl-last {
      order: 1; } }
  .column.-xs-top {
    align-self: flex-start; }
  .column.-xs-center {
    align-self: center; }
  .column.-xs-bottom {
    align-self: flex-end; }
  .column.-xs-baseline {
    align-self: baseline; }
  .column.-xs-stretch {
    align-self: stretch; }
  @media (min-width: 540px) {
    .column.-sm-top {
      align-self: flex-start; }
    .column.-sm-center {
      align-self: center; }
    .column.-sm-bottom {
      align-self: flex-end; }
    .column.-sm-baseline {
      align-self: baseline; }
    .column.-sm-stretch {
      align-self: stretch; } }
  @media (min-width: 800px) {
    .column.-md-top {
      align-self: flex-start; }
    .column.-md-center {
      align-self: center; }
    .column.-md-bottom {
      align-self: flex-end; }
    .column.-md-baseline {
      align-self: baseline; }
    .column.-md-stretch {
      align-self: stretch; } }
  @media (min-width: 1024px) {
    .column.-lg-top {
      align-self: flex-start; }
    .column.-lg-center {
      align-self: center; }
    .column.-lg-bottom {
      align-self: flex-end; }
    .column.-lg-baseline {
      align-self: baseline; }
    .column.-lg-stretch {
      align-self: stretch; } }
  @media (min-width: 1280px) {
    .column.-xl-top {
      align-self: flex-start; }
    .column.-xl-center {
      align-self: center; }
    .column.-xl-bottom {
      align-self: flex-end; }
    .column.-xl-baseline {
      align-self: baseline; }
    .column.-xl-stretch {
      align-self: stretch; } }
  @media (min-width: 1900px) {
    .column.-xxl-top {
      align-self: flex-start; }
    .column.-xxl-center {
      align-self: center; }
    .column.-xxl-bottom {
      align-self: flex-end; }
    .column.-xxl-baseline {
      align-self: baseline; }
    .column.-xxl-stretch {
      align-self: stretch; } }

/*
  SCSS Mixin
  ==========
  Provides setting font-face to page

  Author: Igor Timohin (timohin.i@gmail.com)

 - *$font-family:* The font family of the font.
 - *$font-group:* The font family group, e.g. roboto, dinpro, ptsans.
 - *$font-style:* The  part of path to font file, NOT the font-style
   CSS property.
 - *$file-name:* The name of your file (all formats of this style need
   to have the same file name) without its extention.

  **EXAMPLE**

  @include font-face($font-family, $font-group, $font-style, $file-name, $font-weight)

  @include font-face('Roboto-Regular', roboto, regular, roboto-regular-webfont);
*/
/*
  SCSS Mixin
  ==========
  Provides set font-family to selector

  - *$font-family:* The font family of the font.
  - *$font-style:* The font-style CSS property.
  - *$file-weight:* The font-weight CSS property.
  - *$font-callback:* The font callback, e.g. sans-serif

  **EXAMPLE**

  @include font-family($font-family, $font-weight, $font-style)

  @include font-family('Roboto-Regular', normal, italic);
*/
/*
  # Helpers

    <p class="_text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <p class="_text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<button class="submit">Create my account</button>
*/
._text-center {
  text-align: center; }

._text-left {
  text-align: left; }

._text-right {
  text-align: right; }

._hide {
  display: none; }

._invisible {
  visibility: hidden; }

._wrap {
  overflow: hidden; }

._justify-center {
  justify-content: center; }

._justify-right {
  justify-content: flex-end; }

._justify-arround {
  justify-content: space-around; }

._justify-beetwen {
  justify-content: space-between; }

._justify-left {
  justify-content: flex-start; }

._pull-left {
  float: left; }

._pull-right {
  float: right; }

._pl0 {
  padding-left: 0; }

._pr0 {
  padding-right: 0; }

._p0 {
  padding: 0; }

._underlined {
  padding-bottom: 25px;
  border-bottom: 1px solid #e8e8e8; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/
/*
The provided mixins are intended to be used with variables directly

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites(map-get($spritesheet, 'sprites'));
*/
@font-face {
  font-family: "Circe-Regular";
  src: url("../fonts/circe/regular/crc55.eot"), local("Circe-Regular");
  src: url("../fonts/circe/regular/crc55.eot?#iefix") format("embedded-opentype"), local("Circe-Regular"), url("../fonts/circe/regular/crc55.woff") format("woff"), url("../fonts/circe/regular/crc55.ttf") format("truetype"), url("../fonts/circe/regular/crc55.svg#Circe-Regular") format("svg"); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Circe-Regular";
    src: url("../fonts/circe/regular/crc55.svg#Circe-Regular") format("svg"); } }

@font-face {
  font-family: "Circe-Bold";
  src: url("../fonts/circe/bold/crc65.eot"), local("Circe-Bold");
  src: url("../fonts/circe/bold/crc65.eot?#iefix") format("embedded-opentype"), local("Circe-Bold"), url("../fonts/circe/bold/crc65.woff") format("woff"), url("../fonts/circe/bold/crc65.ttf") format("truetype"), url("../fonts/circe/bold/crc65.svg#Circe-Bold") format("svg"); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Circe-Bold";
    src: url("../fonts/circe/bold/crc65.svg#Circe-Bold") format("svg"); } }

@font-face {
  font-family: "Circe-Light";
  src: url("../fonts/circe/light/crc35.eot"), local("Circe-Light");
  src: url("../fonts/circe/light/crc35.eot?#iefix") format("embedded-opentype"), local("Circe-Light"), url("../fonts/circe/light/crc35.woff") format("woff"), url("../fonts/circe/light/crc35.ttf") format("truetype"), url("../fonts/circe/light/crc35.svg#Circe-Light") format("svg"); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Circe-Light";
    src: url("../fonts/circe/light/crc35.svg#Circe-Light") format("svg"); } }

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/proxima-nova/light/proxima_nova_light-webfont.eot"), local("ProximaNova-Light");
  src: url("../fonts/proxima-nova/light/proxima_nova_light-webfont.eot?#iefix") format("embedded-opentype"), local("ProximaNova-Light"), url("../fonts/proxima-nova/light/proxima_nova_light-webfont.woff") format("woff"), url("../fonts/proxima-nova/light/proxima_nova_light-webfont.ttf") format("truetype"), url("../fonts/proxima-nova/light/proxima_nova_light-webfont.svg#ProximaNova-Light") format("svg"); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "ProximaNova-Light";
    src: url("../fonts/proxima-nova/light/proxima_nova_light-webfont.svg#ProximaNova-Light") format("svg"); } }

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/proxima-nova/bold/proxima_nova_bold-webfont.eot"), local("ProximaNova-Bold");
  src: url("../fonts/proxima-nova/bold/proxima_nova_bold-webfont.eot?#iefix") format("embedded-opentype"), local("ProximaNova-Bold"), url("../fonts/proxima-nova/bold/proxima_nova_bold-webfont.woff") format("woff"), url("../fonts/proxima-nova/bold/proxima_nova_bold-webfont.ttf") format("truetype"), url("../fonts/proxima-nova/bold/proxima_nova_bold-webfont.svg#ProximaNova-Bold") format("svg"); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "ProximaNova-Bold";
    src: url("../fonts/proxima-nova/bold/proxima_nova_bold-webfont.svg#ProximaNova-Bold") format("svg"); } }

h2.landing-title {
  font-family: "Circe-Bold", sans-serif;
  font-size: 36px;
  line-height: 1;
  color: #0086ff;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px; }
  h2.landing-title.-white {
    color: #ffffff; }
  h2.landing-title.-smaller-margin {
    margin-bottom: 40px;
    margin-top: 70px; }

h2.inner-title {
  font-family: "Circe-Bold", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #333;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px; }
  h2.inner-title.-unmargintop {
    margin-top: 0; }

p.inner-text {
  font-family: "Circe-Regular", sans-serif;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px; }

a {
  text-decoration: none;
  color: #0086ff; }
  a:hover {
    color: #31b1ff; }

span.dash-line {
  display: inline-block;
  width: 12px;
  font-family: Circle-Regular, sans-serif;
  font-size: 16px;
  color: #333;
  margin-right: 10px; }

@media (min-width: 0em) and (max-width: 49.99em) {
  header.header {
    padding-top: 10px;
    padding-bottom: 10px; } }

header.header.-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: #fff;
  max-width: 100%; }

header.header .logo-link {
  overflow: hidden;
  display: block; }
  header.header .logo-link > .logo {
    width: 100%;
    height: auto; }
    @media (min-width: 80em) {
      header.header .logo-link > .logo {
        max-width: 220px; } }

@media (min-width: 0em) and (max-width: 49.99em) {
  header.header nav.header-menu {
    width: 100%;
    text-align: center; } }

header.header nav.header-menu.-open {
  display: block; }

header.header nav.header-menu > .list {
  padding: 0;
  list-style: none;
  margin-right: 40px; }
  @media (min-width: 0em) and (max-width: 33.74em) {
    header.header nav.header-menu > .list {
      line-height: 1.2;
      font-size: 32px;
      margin-right: 0; } }

header.header nav.header-menu > .list > .item {
  display: inline-block; }
  @media (min-width: 0em) and (max-width: 33.74em) {
    header.header nav.header-menu > .list > .item {
      text-align: center; } }
  header.header nav.header-menu > .list > .item:hover > .link {
    color: #31b1ff; }
  header.header nav.header-menu > .list > .item:hover > .link.-login {
    background-color: #31b1ff; }

header.header nav.header-menu > .list > .item > .link {
  transition: color 0.325s ease 0s;
  font-size: 16px;
  color: #0086ff;
  text-decoration: none;
  padding: 0 20px;
  height: 36px;
  line-height: 36px;
  font-family: 'Circe-Bold', sans-serif; }
  header.header nav.header-menu > .list > .item > .link.-login {
    transition: background-color 0.325s ease 0s;
    display: inline-block;
    background-color: #0086ff;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    margin-left: 20px; }
    @media (min-width: 0em) and (max-width: 49.99em) {
      header.header nav.header-menu > .list > .item > .link.-login {
        margin-left: 0; } }

header.header .header-toggler {
  display: flex;
  align-items: center;
  width: 30px;
  height: 20px;
  user-select: none;
  cursor: pointer; }
  header.header .header-toggler > span {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 4px;
    background: #0086ff;
    border-radius: .2rem;
    position: relative;
    transition: background .3s .5s; }
    header.header .header-toggler > span:before, header.header .header-toggler > span:after {
      width: 100%;
      height: 4px;
      background: #0086ff;
      border-radius: .2rem;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
      transition: top .3s .6s, transform .3s; }
    header.header .header-toggler > span:before {
      top: .7rem; }
    header.header .header-toggler > span:after {
      top: -.7rem; }
  header.header .header-toggler.-active > span {
    transition: background .3s 0;
    background: transparent; }
    header.header .header-toggler.-active > span:before, header.header .header-toggler.-active > span:after {
      transition: top .3s, transform .3s .5s;
      top: 0; }
    header.header .header-toggler.-active > span:before {
      transform: rotate3d(0, 0, 1, 45deg); }
    header.header .header-toggler.-active > span:after {
      transform: rotate3d(0, 0, 1, -45deg); }

footer.footer {
  min-height: 50px;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center; }
  @media (min-width: 0em) and (max-width: 49.99em) {
    footer.footer {
      padding-top: 20px;
      padding-bottom: 20px; } }
  footer.footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  footer.footer .footer-text {
    color: #808080;
    font-family: "ProximaNova-Light", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    display: inline-block;
    width: 100%;
    text-align: center; }
    @media (min-width: 0em) and (max-width: 49.99em) {
      footer.footer .footer-text {
        text-align: center;
        line-height: 20px;
        margin-bottom: 10px; } }
    footer.footer .footer-text > a {
      font-family: "ProximaNova-Bold", sans-serif;
      color: #808080;
      text-decoration: none; }
  footer.footer .slogan-img {
    width: 135px;
    height: 22px; }
    @media (min-width: 0em) and (max-width: 49.99em) {
      footer.footer .slogan-img {
        width: 100%;
        text-align: center;
        margin-bottom: 15px; } }
    footer.footer .slogan-img > img {
      width: 135px;
      height: 22px; }
  footer.footer .copyright {
    color: #808080;
    font-family: "ProximaNova-Light",sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    text-align: right; }
    @media (min-width: 0em) and (max-width: 49.99em) {
      footer.footer .copyright {
        text-align: center; } }
